pc_specs.md

# Workspace is ommited because saves device specific information about the state of program
workspace.json

# Not tracked subjects or not related to Computer Science
*/ADVANCED\ COMMUNICATION\ SYSTEMS/**

# Obsidian device related files
*/.obsidian/**
.obsidian/

AWS/ASSOCIATE-COURSE/LAB*
